

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.3/dt-1.10.12/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.3/dt-1.10.12/datatables.min.js"></script>

<script>

var table_id = null;
document.addEventListener("turbolinks:load", function() {
    table_id = $("#table_id").DataTable({
        "createdRow": function ( row, data, index ) {
            if ( data[4] === 'yes' ) {
                $('td', row).eq(4).addClass('yes');
            } else if (data[4] === 'out') {
                $('td', row).eq(4).addClass('out');
            }
        }
    } );
});

document.addEventListener("turbolinks:before-cache", function() {
  if ($("#table_id_wrapper").length === 1) {
    table_id.destroy();
  }
});


</script>

<a href='/jobs/new'>Add a job</a>

<table id="table_id" class="display">
  <thead>
      <tr>
          <th>Job position</th>
          <th>Company</th>
          <th>URL</th>
          <th>Rating</th>
          <th>Status</th>
      </tr>
  </thead>
  <tbody>
    <tr>
    <% if @jobs.any? %>
      <% @jobs.each do |job| %>
          <td><%= link_to job.position, job_path(job) %></td>
          <td><%= job.company%></td>
          <td><a href="<%=job.url%>">visit</td>
          <td><%= job.rating%></td>
          <td><%= job.status%></td>
        </tr>
      <% end %>
    <% else %>
      No jobs yet
    <% end %>
  </tbody>
  </table>
