<div class="jumbotron col-md-4 col-md-offset-4">
  <h2><%= @job.position %> </h2>
  <p><%= @job.company %> </p>
  <p><strong>url: </strong><a href="<%=@job.url%>"><%=@job.url%></a></p>
  <p><strong>Location:</strong> <%= @job.location %> </p>
  <p><strong>Your own rating (out of 5) </strong><%= @job.rating %> </p>
  <p><strong>Status: </strong><%= @job.status %> </p>
  <p><%= @job.info %> </p>
  <%= link_to "Edit #{@job.position}", edit_job_path(@job) %>
  <%= link_to "Delete", job_path(@job), method: :delete %>
</div>
