<nav class="navbar navbar-dark bg-inverse">
  <div class="navbar-header">
    <%= link_to('Jobs Tracker', root_path, class: "navbar-brand", data: { turbolinks: false }) %>
  </div>
<div class="nav navbar-nav navbar-right">
<% if user_signed_in? %>
  <ul class="nav navbar-nav">
    <li><%= link_to 'Add a job', new_job_path%></li>
    <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
<% else %>
    <li><%= link_to 'Sign in', new_user_session_path %></li>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
  </ul>
<% end %>
</div>
</nav>
<% if notice %>
<div><%= notice %></div>
<% end %>
<% if alert %>
<div><%= alert %></div>
<% end %>
